<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proyectos </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="maiavnN">
        <div class="logo">
            <img src="{{ url_for('static', filename='logo1.png') }}" alt="Logo">

        </div>
    
        <div>
            <a href="{{ url_for('index') }}">Inici</a>
            <a href="{{ url_for('quienes') }}">Qui som</a>
            <a href="{{ url_for('que') }}">Què fem</a>
            <a href="{{ url_for('proyectos') }}">Projectes</a>
            <a target="_blank" href="https://www.eleconomista.es/">Noticies</a>
            <a href="{{ url_for('registro') }}">Registre</a>
                       
        </div>

        <button  id="btnLogin">Login</button>
        <button id="btnHasteSocio">Fes-te Soci</button>
    
       
        

    </nav>



    <div class="container margen-superior">

        <!-- Contenedor de Dos Columnas -->
        <div class="row">
            
            <!-- Columna de Texto -->
            <div class="col-md-6">
                <section class="site-main">               
                    <h1 class="entry-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Projectes</font></font></h1>
                <div class="entry-content">
                <div data-elementor-type="wp-page" data-elementor-id="552" class="elementor elementor-552">
                <section class="elementor-section elementor-top-section elementor-element elementor-element-99b1ebe elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="99b1ebe" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a970b23" data-id="a970b23" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-32ff4e0 elementor-widget elementor-widget-heading" data-id="32ff4e0" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
               
                </div>
                </div>
                </div>
                </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-7b9a718 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7b9a718" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-622698f" data-id="622698f" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-e4c631f elementor-widget elementor-widget-heading" data-id="e4c631f" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                
                </div>
                </div>
                </div>
                </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-bcf29e1 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="bcf29e1" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-db1b1c2" data-id="db1b1c2" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-aae95f9 elementor-widget elementor-widget-heading" data-id="aae95f9" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default"> <a href="{{ url_for('intercultural') }}">Intercultural</a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></a></h2>		</div>
                </div>
                </div>
                </div>
                </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-155b481 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="155b481" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b6d2a83" data-id="b6d2a83" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-d70294e elementor-widget elementor-widget-heading" data-id="d70294e" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default"><a href="{{ url_for('desarrollo') }}">Desenvolupament</a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></a></h2>		</div>
                </div>
                </div>
                </div>
                </div>
                </section>
                </div>
            
                </div><!-- entry-content -->
                </section>

            </div>


          


        </div>

    </div>






    <div id="footer-wrapper">
        <div class="footerarea">
            <div class="container footer">
                <div class="logo">
                    <img src="{{ url_for('static', filename='logo1.png') }}" alt="Logo">
                </div>
                <div class="cols-3 widget-column-1">  
                    <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sobre nosaltres</font></font></h5>             
                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" class="">Africat és una ONG que promou la cooperació i intercanvi cultural entre Àfrica i Catalunya</font></font></p>
                </div><!--end .widget-column-1-->                  
                <div class="cols-3 widget-column-2">  
                    <!-- Aquí puede ir el contenido del segundo widget-column si es necesario -->
                </div><!--end .widget-column-2-->
                <div class="cols-3 widget-column-3">  
                    <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contacte</font></font></h5>              
                    <div class="phone-no">	 
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Telèfon: +34 638 28 49 30</font></font></p>
                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Email: </font></font>
                        <a href="mailto:info@africat.cat"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">infoafricat@gmail.com</font></font></a>
                    </div>
                </div><!--end .widget-column-3-->
                <div class="clear"></div>
            </div><!--end .container--> 
        </div>
    </div>

    <script src="static/script.js"></script>
        
 

</body>
</html>

